@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gochi+Hand&display=swap');

.header
{
	height: 50px;
	padding: 10px;
	border-bottom: 1px solid lightgray;
	background-color:  rgb(18,22,25);
	position: relative;
	box-shadow: .2em .2em .5em rgba(0,0,0,.45);
}

#menu
{
	float: right;
	font-size: 16px;
	position: relative;
}

#menu ul li
{
	display: inline;
	padding: 2px 40px;
	text-decoration: none;
	font-family: 'Share Tech Mono', monospace;
	font-size: 18px;
	/*font-family: 'Roboto', monospace;*/
}

#menu ul li:hover
{
	text-decoration: underline;
}

.links
{
	color: rgb(255, 255, 255);
}

.git
{
	color: rgb(116, 30, 185);	
}

#titulo
{
	font-family: 'Gochi Hand', cursive;
	font-size: 45px;
	color: rgb(247, 164, 10);
	float: left;
}

.sanduiche {
	display: none;
}