@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');


html
{
	position: relative;
}

/* HEADER */

a
{
	text-decoration: none;
}

/* HOME */

.body
{
	max-height: 700px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

#form
{
	text-align: center;
	height: 380px;
	padding: 50px;
}

label
{
	font-family: 'VT323', monospace;
	font-size: 20px;
	color:blue;
}

.select
{
	width: 300px;
	height: 30px;
	padding: 5px 0px 5px 0px;
	background-color: white;
}

.text
{
	width: 400px;
	height: 200px;
}

.button
{
	border-radius: 5px;
	background-color: black;
	color: white;
	width: 400px;
	padding: 12px;
	/*font-family: 'Roboto', monospace;
	font-size: 14px;*/

	font-family: 'VT323', monospace;
	font-size: 20px;
	text-decoration: bold;
}

.button:hover
{
	background-color: rgba(0, 0, 0, 0.95);
}

.logos 
{
	width: 20px;
	height: 20px;
}

/* TUTORIAIS */

.selecao 
{
	padding-top: 180px;
	height: 300px;
}

.selectT 
{
	width: 450px;
	height: 50px;
	padding: 5px 0px 5px 0px;
	background-color: white;	
}

.search
{
	height: 50px;
	width: 90px;
	border: none;
	border-radius: 2px;
	color: white;
	font-family: 'VT323', monospace;
	font-weight: bold;
	font-size: 17px;
	background-color: black;
}