@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Code&display=swap');

html
{
	position: relative;
	display: flex;
}

/* HEADER */

a
{
	text-decoration: none;
}

/* HOME */

.body
{
	background-image: url(../images/fundo9.jpeg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	max-height: 100%;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	position: relative;
	overflow-x: hidden;
}

.home
{
	height: auto;
	display: inline-block;
	margin: 0 auto;
	margin-top: 20px;
}

.label
{
	font-family: 'Share Tech Mono', monospace;
	font-weight: bold;
	font-size: 20px;
	color: rgb(247, 164, 10);
	padding: 5px;
}

.select
{
	width: 319px;
	height: 30px;
	margin: 0 auto;
	background-color: white;
	border: 1px solid white;
	border-radius: 1px;
	margin-bottom: 5px;
	box-shadow: .2em .2em .5em rgba(0,0,0,.45);
}

/* CODIGO */

.text {
	width: 392px;
	height: 249px;
	border: 0px solid white;
	border-left: 3px solid rgb(255, 82, 82);
	border-radius: 2px;
	float: left;
	margin-right: 5px;
	padding-left: 5px;
	font-family: monospace;
	font-size: 14px;
	color: rgba(14, 14, 14, 0.98);
	line-height: 1.6;
	overflow: auto;
	box-shadow: .2em .2em .5em rgba(0,0,0,.45);
}

code
{
	text-align: left;
	float: left;
}

pre {
	width: 395px;
	height: 250px;
	background-color: white;
	border: 1px solid #ddd;
	border-left: 3px solid rgb(255,82,82);
	border-radius: 2px;
	color: rgba(14, 14, 14, 0.98);
	page-break-inside: avoid;
	font-family: monospace;
	font-size: 14px;
	line-height: 1.6;
	margin-bottom: 1.6em;
	padding-left: 5px;
	overflow: auto;
	display: block;
	word-wrap: break-word;
	float: top;
	box-shadow: .2em .2em .5em rgba(0,0,0,.45);
}

span {
	line-height: 1.5rem;
	width: 100px;
    float: right;
}

.number
{
	border-right: 1px solid lightgray;
	width: 15px;
	padding: 0px 2px 0px 0px;
	margin-right: 3px;
	float: left;
}

.line
{
	display: inline-flex;
	float: left;
	margin: 0 auto;
	width: 100%;
}

.ling
{
	width: 400px;
	margin: 0 auto;
	position: relative;
}

.logos 
{
	width: 20px;
	height: 20px;
}

.button
{
	background-color: rgb(104, 72, 160);
	width: 405px;
	height: 45px;
	border: none;
	border-radius: 3px;
	border-collapse: collapse;
	color: white;
	font-weight: bold;
	font-family: 'Roboto', monospace;
	font-size: 18px;
	box-shadow: .2em .2em .5em rgba(0,0,0,.45);
}


/* TUTORIAIS */

.selecao 
{
	margin: 0 auto;
	margin-bottom: 5px;
	height: 500px;
	width: 100%;
	overflow: auto scroll;
	position: relative;
}

.selectT 
{
	width: 450px;
	height: 40px;
	padding: 5px 0px 5px 0px;
	border: 1px solid white;
	border-radius: 2px;
	background-color: white;
	font-family: 'Roboto Mono', monospace;
	font-size: 16px;
	box-shadow: .2em .2em .5em rgba(0,0,0,.45);
}

.desc
{
	text-align: justify;
	padding: 10px;
}

table 
{
	background-color: rgba(255, 255, 255, 0.9);
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 15px;
	border-collapse: collapse;
	border: 1px solid white;
	width: 695px;
	font-family: 'Roboto', monospace;
	box-shadow: .3em .3em .5em rgba(0,0,0,.45);
	word-wrap: break-word;
}

table tr 
{
	height: 30px;
}

table tr th
{
	background-color: rgb(104, 72, 160);
	color: white;
	border: 1px solid rgb(104, 72, 160);
	font-size: 18px;
}

table tr td
{
	border-left: 1px solid white;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
	font-size: 16px;
	padding: 6px;
}

table tr:hover
{
	background-color: rgba(0, 255, 0, 0.1);
}

/* CONTATO */

.foto
{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 3px solid rgb(255,255,255);
	box-shadow: .2em .2em .5em rgba(0,0,0,.45);
}

.equipe
{
	width: 300px;
	height: 350px;
	background-color: rgba(18,22,25,.9);
	margin: 0 auto;
	padding-top: 20px;
	border-radius: 10px;
	position: relative;
	box-shadow: .3em .3em .5em rgba(0,0,0,.45);
	font-family: 'Fira Code', monospace;
	color: white;
}

#contato
{
	width: 640px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	padding-top: 30px;
}

/* PAGINA NAO ENCONTRADA */
.gif
{
	margin: 70px 0;
}