@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

html
{
	position: relative;
}

a
{
	text-decoration: none;
}

.body
{
	max-height: 700px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

#form
{
	text-align: center;
	height: 380px;
	padding: 50px;
	color:blue;
}

.select
{
	width: 300px;
	padding: 5px 0px 5px 0px;
	background-color: white;
}

.text
{
	width: 400px;
	height: 150px;
}

.button
{
	border-radius: 5px;
	background-color: black;
	color: white;
	width: 400px;
	padding: 12px;
	font-family: 'Roboto', monospace;
	font-size: 14px;
	text-decoration: bold;
}

.button:hover
{
	background-color: rgba(0, 0, 0, 0.95);
}

.logos 
{
	width: 20px;
	height: 20px;
}