<body class="body">

<nav class="selecao">

    <nav id="contato">

        <nav class="equipe">
            <p>
                <img src="images/membro1.jpg" class="foto" alt="Isabela Carvalho">
            </p>

            <p>Isabela Carvalho</p>
            <p class="email">isabelasc@id.uff.br</p>
            <p>
                <a href="https://github.com/isaCarvalho" target="_blank" rel="noreferrer">
                    <img src="images/github1.png" class="logos" alt="GitHub logo">
                </a>

                <a href="https://www.facebook.com/isabelacarvalhocf" target="_blank" rel="noreferrer">
                    <img src="images/facebook.png" class="logos" alt="Facebook logo">
                </a>

                <a href="https://www.linkedin.com/in/isabela-carvalho-69a1b0136/" target="_blank" rel="noreferrer">
                    <img src="images/linkedin.png" class="logos" alt="LinkedIn Logo">
                </a>
            </p>
        </nav>

        <nav class="equipe">
            <p>
                <img src="images/membro2.jpg" class="foto" alt="Prof. Carlos Bazilio">
            </p>

            <p>Prof. Carlos Bazilio</p>
            <p class="email">carlosbazilio@id.uff.br</p>
            <p>
                <a href="https://github.com/CarlosBazilio" target="_blank" rel="noreferrer">
                    <img src="images/github1.png" class="logos" alt="GitHub logo">
                </a>

                <a href="https://www.facebook.com/carlos.bazilio.9" target="_blank" rel="noreferrer">
                    <img src="images/facebook.png" class="logos" alt="Facebook logo">
                </a>

                <a href="https://www.linkedin.com/in/carlos-bazilio-090ba750/" target="_blank" rel="noreferrer">
                    <img src="images/linkedin.png" class="logos" alt="LinkedIn logo">
                </a>
            </p>
        </nav>
    </nav>

</nav>
</body>