<!DOCTYPE html>
<html lang="pt">

<head>
	<title>GoTo - Transpiler</title>

	<meta charset="utf-8">
	<meta name="description" content="Goto - Transpiler">
	<meta name="keywords" content="Monitoria,Transpilador,Linguagens,Programação">
	<meta name="author" content="Isabela S. de Carvalho">
	<meta name="viewport" content="width=device-width">
	<meta name="theme-color" content="#121619">

	<link rel="stylesheet" type="text/css" href="../css/header.css">
	<link rel="stylesheet" type="text/css" href="../css/footer.css">
	<link rel="stylesheet" type="text/css" href="../css/pagina.css">
	<link rel="stylesheet" type="text/css" href="../css/responsividade.css">

	<link rel="icon" type="imagem/png" href="/images/logo-512.png" />
	<link rel="icon" sizes="192x192" href="/images/logo-192.png">

	<link rel="apple-touch-icon" href="/images/logo-192.png">


	<link rel="manifest" href="/manifest.json">
</head>

<header class="header">

	<nav>
		<div id="titulo">
			GoTo
		</div>

		<div class="sanduiche" onclick="menuResponsivo()">
			<img src="../images/menu-sand.png" style="width: 30px; height: auto;" alt="Menu">
		</div>

		<div id="menu">
			<ul>
				<a href="../index.php" class="links"><li>HOME</li></a>
				<a href="../tutorials.php" class="links"><li>TUTORIAIS</li></a>
				<a href="../ajuda.php" class="links"><li>AJUDA</li></a>
				<a href="../contato.php" class="links"><li>CONTATO</li></a>
				<a href="https://github.com/isaCarvalho/Transpilador" target="blank" class="git"><li>GITHUB</li></a>
			</ul>
		</div>
	</nav>

</header>

<script>
	function menuResponsivo() {
		let menu = document.getElementById('menu');

		if (menu.style.display == 'none') {
			menu.style.display = 'block';
		} else {
			menu.style.display = 'none';
		}
	}
</script>